<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!--
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    -->
	<rewrite>
      <rules>
	    <rule name="API Rule" stopProcessing="true">
		  <match url="^(api)(.*)$" />
		  <action type="None" />
		</rule>
		
		<rule name="Swagger Rule" stopProcessing="true">
		  <match url="^(swagger)(.*)$" />
		  <action type="None" />
		</rule>

		<rule name="Ignore static assets" enabled="true" stopProcessing="true">
		   <match url="^(static)(.*)$"/>
		   <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
		   <action type="None"/>
		</rule>

		<rule name="Redirect / to index.html" stopProcessing="true">
			<match url="^$" />
			<action type="Rewrite" url="/index.html" />
		</rule>
	    
		<rule name="SPA redirect all pages to index.html" stopProcessing="true">
          <match url="(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
    <aspNetCore processPath="dotnet" arguments=".\PointOfSale.Api.Web.dll" stdoutLogEnabled="true" stdoutLogFile="../log/IIS" forwardWindowsAuthToken="false" />
  </system.webServer>
</configuration>